# Task 1 ( Basics )

# Question 1 :
Define a function which can compute the sum of two numbers.

Hints:
Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

In [1]:
def sum_of_2numbers(a,b):
    return a + b
sum_of_2numbers(3,4)

7

# Question 2:

    Write a method which can calculate square value of number

Hints:
    Using the ** operator

In [2]:
def calc_square(n):
    return n**2
calc_square(7)

49

# Question 3
Define a function that can convert a integer into a string and print it in console.

Hints:

Use str() to convert a number to string.

In [3]:
def type_casting(n):
    ## type casting int  to >> str
    n = str(n)
    return n
n = type_casting(4)
print(n)
type(type_casting(4))

4

str

# Question 4 :
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

Hints:

Use int() to convert a string to integer.

In [4]:
def to_sum(a , b):
    print( int(a) + int(b))
to_sum('2' , '3')

5

# Question 5 :

Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:

Use + to concatenate the strings

In [1]:
def to_concat(S1 , S2):
    ## to concatenate the 2 string simply by ad + operator
    print (S1 + S2)
to_concat("Dana" , " Nagah")

Dana Nagah

# Question 6 :
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

Hints:

Use len() function to get the length of a string

In [6]:
def print_max_len(S1 , S2):
    n1 , n2 = len(S1) , len(S2)
    ### if both have the same len :::: print the 2 strings in the same order we get them
    if n1 == n2 :
        print(S1)
        print(S2)
    else :
        print([S1 , S2][n2>n1])
print_max_len("AI" , "ML")
print_max_len("Dana" , "Rowida")
print_max_len("oh shit" , " ")

AI
ML
Rowida
oh shit

# Question 7 :
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

Hints:

Use % operator to check if a number is even or odd.

In [7]:
def odd_vs_even(n):
    print(["It is an even number" , "It is an odd number"][n%2])
odd_vs_even(-22)
odd_vs_even(-11)
odd_vs_even(4)
odd_vs_even(5)

It is an even number
It is an odd number
It is an even number
It is an odd number

# Question 8 :
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

Hints:

Use if statement to judge condition.

In [8]:
def to_check(S):
    ### simply to make the string in a lower case form to make it easier to compare
    print(['No' , 'Yes'][S.lower() == 'yes'])
to_check("Yes")
to_check("YES")
to_check("yes")
to_check("UmedMi")

Yes
Yes
Yes
No

# Question 9 :
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: 
Consider use range(#begin, #end) method

In [9]:
ans = []
for i in range(2000 , 3201):
    if not (i % 7) and i%5 :
        ans.append(i)
print(*ans , sep = ' , ')

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199

# Question 10 :
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [10]:
#Search about it please

In [10]:
def fraction(n):
    """
    f(n) = 1 * 2 * 3 * 4 ...... n
    except for n = 0 or 1 . fractional will be 1
    """ 
    return 1 if (n == 1 or n == 0) else n * fraction(n - 1)  
fraction(8)

40320

# Question 11 :
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [11]:
S = input().split('+')
val =int(input())
ans = 0
for i in S :
    ans += int('9'*len(i))
print(ans)

a+aa+aaa+aaaa
9
11106